################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FlyoutIssue/FlyoutIssue.Droid/bin/Debug
