################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FlyoutIssue/FlyoutIssue.Droid/bin
/FlyoutIssue/FlyoutIssue.Droid/obj
/FlyoutIssue/FlyoutIssue.iOS/bin
/FlyoutIssue/FlyoutIssue.iOS/obj
/FlyoutIssue/FlyoutIssue.UWP/bin
/FlyoutIssue/FlyoutIssue.UWP/obj
/FlyoutIssue/FlyoutIssue.Wasm/obj
/.vs
/FlyoutIssue/FlyoutIssue.Wasm/bin

